<div class="img-header">
    <div class="container mat-elevation-z8">
        <h2 class="pre-title">About</h2>
        <h1 class="title">Quacklity</h1>
        <hr class="divider">
        <p class="subtitle">Quacklity empowers people to enjoy alcoholic beverages to the fullest</p>
        <p class="text-1">The Quacklity website is a place where you can find the best alcoholic beverage for the right moment. Starting from displaying the top-rated beverages at the home component with an option to skip through beverage types. Comfortable shop design
            with a quick filtering to help you pick the best beverage for you at the right moment. Convinient bottle design All the way to the checkout component where you can manage your final choices. Start rating bottles to help other users pick the
            right beverage and start a community of followers to empower people know better about alcohol.
        </p>
    </div>
    <div class="container mat-elevation-z8">
        <img [src]="'./assets/logo.png'" alt="" class="logo mat-elevation-z8">
        <h1 class="title" style="margin-top: 2rem;">Who are we?</h1>
        <hr class="divider">
        <p class="text-1">So who we are? This website developed by now by one junior developer based on his personal taste of making a comfortable platform for users to find their favorite beverage for the right moment and help them discover new beverages tastes. The website
            driven by the users where they rate other bottles and purchase them so other people can discover new beverages based on who are they following.
        </p>
    </div>
    <div class="footer">
        <h4 class="footer-desc text-center">Website created and powered by Ilan Cherniavsky</h4>
        <h6 class="footer-desc text-center">Finish project to HackerU</h6>
    </div>
</div>